.movies-card {
  width: 360px;
  display: flex;
  flex-direction: column;
}

.movies-card__image {
  width: 360px;
  height: 201px;
  object-fit: contain;
  object-position: center;
  border-radius: 6px;
}

.movies-card__container {
  box-sizing: border-box;
  height: 32px;
  padding: 14px 14px 0;
  display: flex;
  justify-content: space-between;
}

.movies-card__caption {
  width: 250px;
  font-size: 13px;
  line-height: 16px;
  font-weight: 500;
  text-align: start;
}

.movies-card__duration {
  margin: 0;
  text-align: center;
  width: 52px;
  height: 18px;
  font-size: 10px;
  line-height: 11px;
  font-weight: 400;
  color: #8B8B8B;
  background-color: #2F2F2F;
  border-radius: 3px;
}