.hamburger {
  display: none;
  width: 44px;
  height: 44px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity .2s;
}

.hamburger:hover {
  opacity: 0.7;
}

.hamburger__button {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 3px;
  width: 28px;
}

.hamburger__button::before {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 3px;
  width: 28px;
  content: '';
  margin-top: -10px;
}

.hamburger__button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 3px;
  width: 28px;
  content: '';
  margin-top: 10px;
}

@media screen and (max-width: 1279px) {
  .hamburger {
    display: flex;
  }

  .hamburger_inactive {
    display: none;
  }
}