.title {
  font-size: 22px;
  line-height: 27px;
  font-weight: 400;
  letter-spacing: -.04em;
  border-bottom: 1px solid #DADADA;
  padding-bottom: 23px;
}

@media screen and (max-width: 767px) {
  .title {
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 28px;
  }
}