.input-error {
  margin: 6px 0;
  color: #EE3465;
  min-height: 12px;
  font-size: 10px;
  line-height: 12px;
  font-weight: 400;
  opacity: 0;
  transition: .3s;
}

.input-error_active {
  opacity: 1;
}