.info-tooltip {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.1s, opacity 0.2s linear;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, .5);
}

.info-tooltip_opened {
  visibility: visible;
  opacity: 1;
}

.info-tooltip__close-button-form {
  background-color: inherit;
  border: none;
  color: #4285F4;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
}

.info-tooltip__close-button {
  width: 32px;
  height: 32px;
  position: absolute;
  top: -35px;
  right: -35px;
  background-color: transparent;
  border: none;
  outline: none;
}

.info-tooltip__close-button:before {
  position: absolute;
  content: '';
  height: 32px;
  border: 2px solid white;
  top: 0;
  transform: rotate(45deg);
}

.info-tooltip__close-button:after {
  position: absolute;
  content: '';
  height: 32px;
  border: 2px solid white;
  top: 0;
  transform: rotate(-45deg);
}

.info-tooltip__container {
  position: relative;
  background-color: #202020;
  color: white;
  border-radius: 10px;
  box-shadow: 0 0 25px rgba(0, 0, 0, .15);
  max-width: 430px;
  width: 100%;
  box-sizing: border-box;
  padding: 40px 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-tooltip__logo {
  object-fit: cover;
  width: 38px;
  height: 38px;
  transition: background .1s linear;
}

.info-tooltip__logo_type_fail {
  background-image: url(../../images/error-logo.svg);
  transition-delay: 1s;
}

.info-tooltip__logo_type_success {
  background-image: url(../../images/success_logo.svg);
}

.info-tooltip__title {
  margin: 32px 0 60px;
  font-size: 24px;
  line-height: 29px;
  font-weight: 500;
  text-align: center;
}

@media screen and (max-width: 468px) {
  .info-tooltip__container  {
    max-width: calc(100% - 40px);
    padding: 50px 18px;
  }
}

@media screen and (max-width: 540px) {
  .info-tooltip__close-button  {
    right: 0;
    top: -36px;
    width: 20px;
    height: 20px;
  }
  .info-tooltip__close-button:before {
    height: 20px;
  }
  .info-tooltip__close-button:after {
    height: 20px;
  }
}